# Hugo 自动生成的文件夹（这是本地预览的结果，不需要传）
public/
resources/
hugo_stats.json

# 操作系统产生的垃圾文件
.DS_Store
Thumbs.db

# 编辑器配置
#.vscode/
.idea/

# 如果你本地运行了 npm（Hexo 残留或某些 Hugo 插件）
node_modules/
npm-debug.log*
.hugo_build.lock